# EDS 220 Python Essentials Review

## Carpentries Review
Source: http://swcarpentry.github.io/python-novice-gapminder/index.html

### Variables

In [4]:
# Variable assignment
age=26
first_name = "Caitlin"

In [5]:
age

26

In [7]:
print(first_name, "is", age)
# print puts a space between items, don't need to specify

Caitlin is 26

In [10]:
age_2025 = age + 1
print("Age next year:", age_2025)

Age next year: 27

In [16]:
# Indexing starts at 0!
nums= 1,2,3
print(nums[2]) # to get number 3, need to do [2] because starts at 0
nums[2]

3

3

In [14]:
# Substring: part of a string
# Slice: part of a string
# Slice notation: [start:stop]

first_name = "Caitlin"
print(first_name[0:4]) # note the last is not inclusive, will not print position 4

Cait

In [15]:
# len function
print(len("Caitlin"))

7

In [31]:
# numbers don't have a "length"
len(42) # intentional error

TypeError: object of type 'int' has no len()

### Data types and data conversion

* int: Integer: positive or negative whole numbers (1, -2)
* float: Real number (1.3)
* str: String: text ("hello")

In [18]:
# Get the datatype (aka class) using type function

print(type(52))

<class 'int'>

In [22]:
# The functions possible depend on the type!
# Ex: Can't do subtraction a string

print("hello"-"h") #intentional error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
print(5-3)

2

In [26]:
# But you can + with strings!

full_name = "Caitlin" + " " + "Nordheim-Maestas"
print(full_name)

Caitlin Nordheim-Maestas

In [30]:
# You can use = with strings too to multiply a character string by an integer
# = is repeated addion

x= "=" * 10
print(x)

full_name_10 = full_name * 10
print(full_name_10)

==========
Caitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-Maestas

In [33]:
# Cannot add numbers and strings
print(1+"2") #intentional error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
# Must convert first
# Can convert within the function

print(1 + int('2')) # as integers
      
print(str(1) + "2") # as strings

3
12

In [40]:
# Practice: what type of value is 3.4?

print(type(3.4))

<class 'float'>

In [42]:
# Strings to numbers: when you have a decimal,
# string --> float --> int
# can't handle string --> int when the value is a decimal

print("string to float:", float("3.4")) #can easily turn string into float
print("float to int:", int(3.4)) #will turn float into integer

string to float: 3.4
float to int: 3

In [43]:
int("3.4") #can't handle it!

ValueError: invalid literal for int() with base 10: '3.4'

In [45]:
int(float("3.4")) # need to hand hold by making it a float first

3

### Built in functions

In [49]:
# Max, min

print(max(1, 2, 3))
print(min('a', 'A', '0')) #(0-9, A-Z, a-z) to compare within strings

3
0

In [50]:
# round
round(3.452)

3

In [51]:
# round and give decimal places

round(3.542, 1) #(number, num decimal places)

3.5

Note: Functions attached to objects are called methods

Methods have parentheses like functions, but come after the variable.
Some methods are used for internal Python operations, and are marked with double underlines.

Added on using the "."

In [54]:
my_string = 'Hello world!'
print(my_string.swapcase()) # calling the swapcase method on the my_string object

hELLO WORLD!

In [57]:
# Review range function using help
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [62]:
# from start (inclusive) to stop (exclusive) by step
# start defaults to 0, that makes sense

range(3)

range(0, 3)

### Libraries

Note: Python uses . to mean “part of”
example: math.cos(pi) is like saying the cosign function of pi is part of the math library

In [64]:
import math

In [65]:
print(math.pi)

3.141592653589793

In [66]:
print('cos(pi) is', math.cos(math.pi))

cos(pi) is -1.0

In [67]:
# Can import parts of a library instead of whole thing

from math import cos, pi

In [72]:
print('cos(pi) is', cos(pi)) # note: no "math."

cos(pi) is -1.0

In [69]:
# Can make an alias so you don't have to type out "math" all the time

import math as m

In [73]:
print('cos(pi) is', m.cos(m.pi)) # note the "m."

cos(pi) is -1.0

### Reading Tabular Data into DataFrames

In [74]:
# Import library

import pandas as pd

In [ ]:
# read in csv file