# EDS 220 Python Essentials Review

## Carpentries Review
Source: http://swcarpentry.github.io/python-novice-gapminder/index.html

### Variables

In [1]:
# Variable assignment
age=26
first_name = "Caitlin"

In [2]:
age

26

In [3]:
print(first_name, "is", age)
# print puts a space between items, don't need to specify

Caitlin is 26

In [4]:
age_2025 = age + 1
print("Age next year:", age_2025)

Age next year: 27

In [5]:
# Indexing starts at 0!
nums= 1,2,3
print(nums[2]) # to get number 3, need to do [2] because starts at 0
nums[2]

3

3

In [6]:
# Substring: part of a string
# Slice: part of a string
# Slice notation: [start:stop]

first_name = "Caitlin"
print(first_name[0:4]) # note the last is not inclusive, will not print position 4

Cait

In [7]:
# len function
print(len("Caitlin"))

7

In [8]:
# numbers don't have a "length"
len(42) # intentional error

TypeError: object of type 'int' has no len()

### Data types and data conversion

* int: Integer: positive or negative whole numbers (1, -2)
* float: Real number (1.3)
* str: String: text ("hello")

In [9]:
# Get the datatype (aka class) using type function

print(type(52))

<class 'int'>

In [10]:
# The functions possible depend on the type!
# Ex: Can't do subtraction a string

print("hello"-"h") #intentional error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
print(5-3)

2

In [12]:
# But you can + with strings!

full_name = "Caitlin" + " " + "Nordheim-Maestas"
print(full_name)

Caitlin Nordheim-Maestas

In [13]:
# You can use = with strings too to multiply a character string by an integer
# = is repeated addion

x= "=" * 10
print(x)

full_name_10 = full_name * 10
print(full_name_10)

==========
Caitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-MaestasCaitlin Nordheim-Maestas

In [14]:
# Cannot add numbers and strings
print(1+"2") #intentional error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# Must convert first
# Can convert within the function

print(1 + int('2')) # as integers
      
print(str(1) + "2") # as strings

3
12

In [16]:
# Practice: what type of value is 3.4?

print(type(3.4))

<class 'float'>

In [17]:
# Strings to numbers: when you have a decimal,
# string --> float --> int
# can't handle string --> int when the value is a decimal

print("string to float:", float("3.4")) #can easily turn string into float
print("float to int:", int(3.4)) #will turn float into integer

string to float: 3.4
float to int: 3

In [18]:
int("3.4") #can't handle it!

ValueError: invalid literal for int() with base 10: '3.4'

In [19]:
int(float("3.4")) # need to hand hold by making it a float first

3

### Built in functions

In [20]:
# Max, min

print(max(1, 2, 3))
print(min('a', 'A', '0')) #(0-9, A-Z, a-z) to compare within strings

3
0

In [21]:
# round
round(3.452)

3

In [22]:
# round and give decimal places

round(3.542, 1) #(number, num decimal places)

3.5

Note: Functions attached to objects are called methods

Methods have parentheses like functions, but come after the variable.
Some methods are used for internal Python operations, and are marked with double underlines.

Added on using the "."

In [23]:
my_string = 'Hello world!'
print(my_string.swapcase()) # calling the swapcase method on the my_string object

hELLO WORLD!

In [24]:
# Review range function using help
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [25]:
# from start (inclusive) to stop (exclusive) by step
# start defaults to 0, that makes sense

range(3)

range(0, 3)

### Libraries

Note: Python uses . to mean “part of”
example: math.cos(pi) is like saying the cosign function of pi is part of the math library

In [26]:
import math

In [27]:
print(math.pi)

3.141592653589793

In [28]:
print('cos(pi) is', math.cos(math.pi))

cos(pi) is -1.0

In [29]:
# Can import parts of a library instead of whole thing

from math import cos, pi

In [30]:
print('cos(pi) is', cos(pi)) # note: no "math."

cos(pi) is -1.0

In [31]:
# Can make an alias so you don't have to type out "math" all the time

import math as m

In [32]:
print('cos(pi) is', m.cos(m.pi)) # note the "m."

cos(pi) is -1.0

### Reading Tabular Data into DataFrames

In [33]:
# Import library

import pandas as pd

In [34]:
# read in csv file

data_oc = pd.read_csv("uc-carp-data/gapminder_gdp_oceania.csv")

In [36]:
print(data_oc)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [40]:
# index_col to specify that a column’s values should be used as row headings
# Note the default is the 0 and 1

data_oc = pd.read_csv("uc-carp-data/gapminder_gdp_oceania.csv", index_col="country")

In [39]:
print(data_oc) #now it has the country names on the left

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

In [41]:
# DataFrame.info() to find out more about a dataframe

data_oc.info

<bound method DataFrame.info of              gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911  >

In [42]:
# DataFrame.columns variable stores information about the dataframe’s columns

print(data_oc.columns)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [43]:
# DataFrame.T to transpose a dataframe

print(data_oc.T)

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

In [45]:
# DataFrame.describe() to get summary statistics

print(data_oc.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count        2.000000        2.000000        2.000000        2.000000
mean     10298.085650    11598.522455    12696.452430    14495.021790
std        365.560078      917.644806      677.727301       43.986086
min      10039.595640    10949.649590    12217.226860    14463.918930
25%      10168.840645    11274.086022    12456.839645    14479.470360
50%      10298.085650    11598.522455    12696.452430    14495.021790
75%      10427.330655    11922.958888    12936.065215    14510.573220
max      10556.575660    12247.395320    13175.678000    14526.124650

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count         2.00000        2.000000        2.000000        2.000000
mean      16417.33338    17283.957605    18554.709840    20448.040160
std         525.09198     1485.263517     1304.328377     2037.668013
min       16046.03728    16233.717700    17632.410400    19007.191290
25%       16231.68533    16758.837652    18093.560120    19727.615725
50%       16417.33338    17283.957605    18554.709840    20448.040160
75%       16602.98143    17809.077558    19015.859560    21168.464595
max       16788.62948    18334.197510    19477.009280    21888.889030

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000        2.000000        2.000000
mean     20894.045885    24024.175170    26938.778040    29810.188275
std       3578.979883     4205.533703     5301.853680     6540.991104
min      18363.324940    21050.413770    23189.801350    25185.009110
25%      19628.685412    22537.294470    25064.289695    27497.598692
50%      20894.045885    24024.175170    26938.778040    29810.188275
75%      22159.406358    25511.055870    28813.266385    32122.777858
max      23424.766830    26997.936570    30687.754730    34435.367440

In [48]:
# DataFrame.head and DataFrame.tail
data_oc.head(n=3) # n is number of rows to show

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911